/* section: .jb-label */
.jb-label { font: 12px arial; display: block; }

/* section: .jb-propertySheet */
.jb-propertySheet {}
.jb-propertySheet>.property {
  margin-bottom:20px;
}
.jb-propertySheet>.property:last-child {
  margin-bottom:0px;
}
.jb-propertySheet>.property>.property-title {
  width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  vertical-align:top;
  margin-top:2px;
  font:14px arial;
}
.jb-propertySheet>.property>div {
  display:inline-block;
}


/* section: .jb-itemlist */
.jb-itemlist { list-type: none; padding: 0; margin: 0;}
.jb-itemlist>li { list-type: none; padding: 0; margin: 0;}

/* section: .jb-btn-default */
.jb-btn-default { margin-top: 5px; margin-bottom: 5px; color: #fff; background-color: #337ab7; border-color: #2e6da4; display: inline-block;
padding: 6px 12px;
font: 14px arial;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
border: 1px solid transparent;
border-radius: 4px;
box-sizing: border-box;
}

.jb-btn-default:active, .jb-btn-default:hover { color: #fff; background-color: #286090; border-color: #204d74; }
.jb-btn-default:focus, .jb-btn-default:active {}